@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

/* Set the height for objects */
div.qvobject,
div.qvplaceholder,
div.qvobjectsm,
div.qvplaceholdersm {
    padding: 10px 10px 10px 10px;
    height: 500px;
}

div.qvobjectsm,
div.qvplaceholdersm {
    height: 300px;
}

nav,
.navbar,
.navbar-expand-lg,
.bg-light * {
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #FF5A5F;
    color: #fff;
}

nav a,
span {
    margin: 5px;
}

#top .banner,
#top #topbanner,
#bottombanner {
    background-color: #FF5A5F;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top img {
    display: block;
    width: 50%;
    padding: 50px 0;
    margin: 0 auto;
}

#top #topbanner h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#top #topbanner {
    height: 200px;
    
}

#bottombanner {
    height: 500px;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    padding: 20px;
}

#bottombanner h1 {
    font-weight: bold;
}

#bottombanner p {
    font-size: 18px; 
}

div.container {
    padding: 50px 0px 50px 0px;
}


.banner {
    background-color: #FF5A5F;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    width: 100%;
    font-size: 18px;
}


footer {
    background-color: #FF5A5F;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a:hover,
a:focus,
a:active,
a:visited {
    color: #fff;
}

button {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    width: 200px;
}

.nicetext {
    color:#FF5A5F;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.alignleft {
    text-align: left;
}

.alignright {
    text-align: right;
}

/* back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red; 
    color: white; 
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    font-size: 18px;
    aspect-ratio: 1/1;
    width: 60px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

/* Media Query for smaller screens */
@media (max-width: 768px) {
    #top #topbanner h1 {
        font-size: 32px;
        padding-top: 40px;
    }

    #bottombanner {
        font-size: 32px;
    }
}
